# Managed by Ansible - Changes will be overwritten
{% set gateway_ip = hostvars[inventory_hostname]['ansible_host'] | ipaddr('network') | ipaddr('1') | ipaddr('address') %}
network:
  version: 2
  renderer: networkd
  ethernets:
    {{ hostvars[inventory_hostname]['primary_interface_alias'] | default('enp0s25') }}:
      dhcp4: no
      addresses:
        - {{ hostvars[inventory_hostname]['ansible_host'] }}/24
      routes:
        - to: default
          via: {{ gateway_ip }}
      nameservers:
        addresses: [{{ gateway_ip }}]