# local content file
content /var/snapraid.content

{#
The weird conditional is required because the disk label is based upon its position in devices list.
If you try to use selectattr that messes up the cardinality.
There is no way this is a good or scalable fix. But I'd really rather not specify mount targets in devices.
Although That might be best
#}

# define parity disks
{% for device in devices %}
{% if device.use == 'parity' %}
parity {{ root_pool_path }}/{{ device['pool']}}/parity/{{ loop.index0 }}/snapraid.parity
{% endif %}
{% endfor %}

# set snapraid parity file locations on data disks
{% for device in devices %}
{% if device.use == 'disks' %}
content {{ root_pool_path }}/{{ device['pool']}}/disks/{{ loop.index0 }}/.snapraid.content
{% endif %}
{% endfor %}

# set protected disks
{% for device in devices %}
{% if device.protected == true %}
disk {{ device['pool']}}-{{ loop.index0 }} {{ root_pool_path }}/{{ device['pool']}}/{{ device['use']}}/{{ loop.index0 }}
{% endif %}
{% endfor %}

# exclusions: exclude FILE, exclude DIR/ exclude /PATH/FILE exclude /PATH/DIR
exclude /lost+found/
