environment_name: live
release_branch: main

domain_name: amolicob.cloud

ansible_python_interpreter: auto_silent
default_packages:
  - cron
  # - gcc
  - git
  # - make
  - nfs-common
  - python3-virtualenv
  - screen

install_ssh_keys: no
