name: Nix Checks

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  pre-commit:
    name: Run Pre-commit Hooks (Nix)
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
      - uses: DeterminateSystems/magic-nix-cache-action@565684385bcd71bad329742eefe8d12f2e765b39 # v13
      - name: Run checks
        run: nix develop --command pre-commit run --all-files
